<div class="col-md-12">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3>Change Intro</h3>
    <div class="form-group">
        <input type="text" placeholder="Enter Mobile" class="form-control" id="txtUserMobNo" maxlength="10" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
    </div>
    <button class="btn btn-outline-dark" id="btnChangeI">Change</button>
    <button class="btn btn-dark" id="mdlCancel">Cancel</button>
</div>
